@import url("./global.css");
form {
    padding: 0;
    margin: 0;
}
.form_exercise {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    border: 1px solid white;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px 5px rgba(94, 93, 93, 0.1);
    margin-top: 5px;
    color: white;
    padding: 0;
}

.form_exercise input {
    min-width: 10rem;
    margin-top: 4px;
}
.form_exercise .hidden {
    visibility: hidden;
    display: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

#select_container {
    text-align: center;
    margin: 5px auto;
    color: white;
}

#select_container select {
    border-radius: 3px;
    outline: 1px solid white;
    border: none;
    padding: 4px;
}

#submit_btn {
    display: block;
    margin: 1rem auto;
    border: none;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(129, 114, 114);
}

#prev_exercises {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#prev_exercises button {
    margin: 0;
    padding: 0;
}

dialog {
    border: 1px solid white;
    border-radius: 1rem;
    min-height: 80%;
    width: 95%;
    position: relative;
}
dialog button {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
::backdrop {
    background-image: linear-gradient(45deg, magenta, rebeccapurple, dodgerblue, green);
    opacity: 0.75;
}

.stored_exercise_div {
    padding: 0;
    margin: 0;
    border: 1px solid white;
    border-radius: 1rem;
    margin: 1rem auto;
}
.stored_exercise_div p {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}
.stored_exercise_div div {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
